@media (min-width: 768px) {
  .container {
    height: calc(100% - 10px);
    position: relative;
    top: 10px;
    }
}

.ticket {
  min-width: 50%;
}

.ticketContainer {
  display: flex;
  flex-flow:wrap;
}
