<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li (click)="navClicked($event)" class="active"><a href="#">IT-Systeme</a></li>
      <li (click)="navClicked($event)"><a href="#">Fachenglisch</a></li>
      <li (click)="navClicked($event)"><a href="#">Anwendungsentwicklung</a></li>
    </ul>

    <form class="navbar-form navbar-right">

      <input class="form-control" type="text" placeholder="Ticket-ID">
      <a href="#" class="btn btn-default">Sign In</a>
    </form>
  </div>
</nav>
